* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(126, 81, 30, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #e0e7f2;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  place-items: center;
}
.container h1 {
  color: #ff9a37;
}
.h1container {
  margin: 28px;
}
.songsOutput {
  width: 60%;
  border-radius: 15px;
  background-color: #0b0d21;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0) 0px 5px 15px;
  margin-top: 50px;
}
.songsBody {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 100%) 0px 5px 15px;
}
.styleButton {
  background-color: royalblue;
  align-items: center;
  padding: 10px 24px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  color: #e0e7f2;
}
.linkButton {
  background-color: #be3248;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 10px 24px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.displayLyricsArea {
  margin: 30px;
  padding: 1rem;
  border-radius: 5px;
  color: #ddd;
}

/* userinput and search button design */
#userInput {
  outline: none;
  color: #ddd;
  background-color: #0b0d21;
  margin: 1rem;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: rgb(0 0 0) 0px 5px 15px;
}
#searchSong {
  outline: none;
  color: #ddd;
  background-color: #0b0d21;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: rgb(0 0 0) 0px 5px 15px;
  cursor: pointer;
}
#searchSong:hover {
  background-color: royalblue;
  color: #ddd;
}
